:host {
  position: relative;
  font-family: sans-serif;
}

#counter-increment,
#counter-decrement {
  width: 60px;
  height: 30px;
  margin: 20px;
  background: blue;
  border: 1px solid black;
}

#counter-value {
  font-weight: bold;
}
