* {
  box-sizing: border-box;
}

:host {
  display: flex;
}
section {
  border-right: 10px double;
}
#from {
  flex: 1;
  padding: 5px;
}

#to {
  flex: 1;
  padding: 5px;
}

.property-label {
  font-weight: bold;
}

#properties-from {
  height: 100px;
}

.property-value {
  color: blue;
  text-transform: uppercase;
}

#debug {
  clear: both;
  content: '';
  display: block;
}
