section {
  width: 30%;
  float: left;
}

.property-label {
  font-weight: bold;
}

.property-value {
  color: blue;
  text-transform: uppercase;
}

#debug {
  clear: both;
  content: '';
  display: block;
}
